@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merienda:wght@300..900&display=swap');

body {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 800;

}

.container {
    margin: 0 auto;
    padding-inline: 1.5rem;
    text-align: center;
}

.card {
    position: relative;
    cursor: pointer;

    img {
        height: 10rem;
        width:  10rem;
        box-shadow: 4px 4px 5px red;
        border-radius: 20px;
        transition: transform 0.2s linear;
    }

    img:hover {
        transform: translate(0px, -14px);
        box-shadow: 4px 4px 5px black;
    }
}

.pokemons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
    
}



.hidden {
    display: none;
}

.dialogHeader {
    display: flex;
    justify-content: space-between;
}

.dialogData {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 25rem;
    height: 23rem;

    img {
        width: 32%;
        display: flex;
        margin: auto;
    }
}

.dialogText {
    display: flex;
    flex-direction: column;
}

#dialogClose,
.dialogTitle {
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
    font-weight: bold;
}

.caught-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.caught {
    display: none;
}

.white {
    color: white;
    display: block;
    text-shadow: 4px 4px 5px black;
}

.green {
    background-color: red;
    border-radius: 20px;
    width: 11rem;
}